!!! 5
html(lang="en")
  head
    title= title
  body
    div#menu
      a(href="/") Home
      &nbsp;|&nbsp;
      a(href="/sequential") Sequential
      &nbsp;|&nbsp;
      a(href="/parallel") Parallel
    h1= title
    div!= body
