!!! 5
html(lang="en")
  head
    title= title
  body
    div#menu
      a(href="/") Home
      &nbsp;|&nbsp;
      a(href="/sequential-callbacks") Sequential
      &nbsp;|&nbsp;
      a(href="/sequential-with-seq") Sequential with Seq
      &nbsp;|&nbsp;
      a(href="/parallel-collector") Parallel
      &nbsp;|&nbsp;
      a(href="/parallel-with-seq") Parallel with Seq
    h1= title
    div!= body
