h2 Timing
ul
  li Elapsed time: #{elapsed_time}
  li Expected time: #{expected_time}
  li Number of calls: #{number_of_calls}

h2 Database names
ul
  - names.forEach(function(name){
    li= name
  - })
